

<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
              <h2>
                  <img class="imagess"src="/img/text0.JPG" width="180" height="24">

              </h2>
            <ul class="list-unstyled">
              <p style="font-size: 8px;">This website and its content is copyright of WiWaArtisan - © WiWaArtisan 2020. All rights reserved. Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following: you may print or download to a local hard disk extracts for your personal and non-commercial use only you may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material You may not, except with our express written permission, distribute or commercially exploit the content. Not may you transmit it or store it in any other website or other f
                  orm of electronic retrieval system..

                © 2020 WiWaArtisan, All rights reserved</p>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Return</h4>
            <ul class="list-unstyled">
                <li><a href="/return">Return & Refund Policy</a></li>
                <li><a href="/shipping">Shipping</a></li>
                <li><a href="/privacy">Privacy & Data Security</a></li>
                <li><a href="/terms">Terms & Condition</a></li>
            </ul>
            <h3><a href="/about">About Us</a></h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
                     <h4>Newsletter</h4>
        
            <ul class="list-unstyled">
                <p style="font-size: small;">Sign up with your email address to receive news and updates from WiWaArtisan.</p>
                <img src="https://vectorified.com/images/secure-payment-icon-31.png" width="200" />

                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="email"><i class="fa fa-envelope-o"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="what'sup"><i class="fa fa-whatsapp"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2020 - WiWaArtisan.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>