.form-controls {
  margin: 1rem 0;
}

.form-controls label,
.form-controls input,
.form-controls textarea ,
.form-controls select{
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-controls input,
.form-controls textarea ,
.form-controls select{
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-controls input:focus,
.form-controls textarea:focus {
  outline-color: #00695c;
}
.form-controls input.invalid{
  border-color:red ;

}