<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
           
            <div class="a">
                <h1>Returns & Refund</h1>
            <p></p> 
      
      
            <div class="container">
                <h2>RETURNS  </h2>
                <p>Returns within the United Kingdom are FREE but Wiwa Artisan is not responsible for return or exchange shipping costs.
      
                    Wiwa Artisan aims to have 100% satisfied clients and to always provide high quality goods that are fault free and undamaged. On occasion, however, items may need to be returned. Returns are to be made within 10 days of receipt by following these steps:
                    
                    <h4>
                        1.  E-mail us at info@wiwaartisan.com clearly stating the reason for your return.  Please include your name, order number, item description, reason for return and date.

                  </h4>  
                  <h4>
                      2. Upon receipt of your e-mail we will send you a pre-printed address label with instructions as to how to send the package, together with a Return Authorisation Number (RA number).  Upon receipt of our email, you must print a copy and attach to goods which must be returned to: 
                      Wiwa Artisan, Address, London, United Kingdom.  
                      
                </h4>    
                <h4>
                    3. Once we have received and inspected the returned items we will send you a second e-mail. This will act as confirmation that a refund has been processed. Refunds are issued to the original method of payment.  
                    Please remember, all items must be returned to us unused, unworn, unwashed, undamaged, or unaltered in any way. Items must be returned in their original packaging with all tags, if any, still attached for full refund of the purchase price (including VAT). 
                    We reserve the right not to accept your return in the following events: 
                      
                </h4> 
                   <h4>
                       (1) the 10-day grace period has expired, 
                      
                </h4> 
                   <h4>
                    (2) the returned product(s) are not received complete and are not in immaculate condition. Returns without RA number may be returned to the sender. 
                    
                    REFUNDS   Once a return is received and inspected (please allow us up to 4 working days after receipt of return to process your return request), the refund will be processed and a credit will be applied to your credit card or original method of payment. You will receive an e-mail confirming that your returned item has arrived and the refund will follow. Depending on the credit card provider, it may take up to 14 days for the refund to appear on your bank statement. 
                    
                    Shipping charges will not be refunded. If an order was a gift, we will issue a store web credit as a refund. Trackable shipping services and purchasing shipping insurance is highly recommended for returns items.
                    
                    RETURNS ON ITEMS ON SALE  All merchandise purchase on sale is considered final sale and is not eligible for return, exchange or store credit, including items sold at promotional discounts. Wiwa Artisan does not offer price adjustments for prior purchases.
                </h4> 
                    
                    
                    
                    
                    
                    
                    
               
                </div>
      
                
      
            
        </main>
        <%- include('../includes/end.ejs') %>