<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
           <div class="container">
<h1>Shipping</h1>
<div class="">
    <h2></h2>
    <p>We normally supply customers within United Kingdom (England, Wales, Scotland, North of Ireland), the European Union, Switzerland and United States. Deliveries outside these countries are possible upon request. Please contact us: 

        info@wiwaartisan.com for a quote.
        
        Products ordered on www.wiwaartisan.com Online Shop are delivered by the British Post Office. The general terms of British Post Post Ltd and conditions will apply additionally and can be found on the following website: www.postoffice.co.uk
        
         Delivery to P.O. Boxes is not possible. Please provide a home or business address for delivery. 
        
        
        Products are consigned to the British Post Office at the latest within forty-eight hours of receipt of payment and confirmation of the order. We do not ship on bank holidays and weekends. A longer lead-time applies if the order is placed during the weekend or holidays.</p>
    </div>

    <div class="a">
        <h2>Delivery Options:</h2>
        <p></p>
        <h2>United Kingdom</h2>
        <p>You can choose between:

            路       PostPac Economy Service (2-5 working days) / CHF 0
            
            路       PostPac Priority Service (1-2 working days) / CHF 9.00 
            
            FOR SWISS & LIECHTENSTEIN ORDERS DELIVERY IS FREE OF CHARGE.
            
            EUROPEAN UNION, ENGLAND, WALES, SCOTLAND & NORTHERN IRELAND
            
            路      International Economy Service (5-15 working days) / CHF 18.00
            
            路     * Small package International Economy Service (5-15 working days) / CHF 9.5</p>
        </div>

        <div class="a">
            <h2>United Estates</h2>
            <p>International Economy Service (10-25 working days) / CHF 29.00</p>
            </div>

            <div class="a">
                <h2>Rest of the World</h2>
                <p>Delivery lead-times are between 2-5 working days for domestic orders. 

                    For standard European orders, delivery can take between 5-15 working days. For standard USA orders and other countries, delivery can take between 10-25 workingdays. When orders shipped internationally reach the destination country, they may be subject to customs clearance procedures which can cause delays beyond original delivery estimates.
                    
                    Delivery times are to be used as a guide only and commence from the date the order was consigned to the Post office. If they exceed thirty days from the date of the order, the contract of sale can be cancelled and you can request a refund. </p>
                </div>

                <div class="a">
                    <h2>Failed Deliveries</h2>
                    <p>If your package is unable to be delivered due to a fault on your part (for example because there is nobody available to receive it) a note will be left notifying of the delivery attempt. Please contact the carrier directly to arrange a new delivery time or collection. If it is not collected or delivered in the second attempt, it will eventually be returned to Wiwa Artisan. Should it not be possible to deliver your order despite three delivery attempts, we may withdraw from the contract. We will refund the cost of your order less the eventual additional delivery costs (also for free shipping orders) requested by the local post office, once we have received the package safely and in good condition.

                        We will not be responsible to you for any delay or failure to comply with our obligations under these TOS if the delay or failure arises from any cause beyond our reasonable control.
                        
                        If you have delivery questions, please send us an email info@wiwaartisan.com Monday to Friday, 9:00-17:00.</p>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>           