<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">

            <div class="container">
                <h1>Terms of Service</h1>
                <p></p>
                
          
                <div class="a">
                    <h2>GENERAL</h2>
                    <p>The following Terms and conditions (hereinafter “Terms of Service”, TOS”), and any other policies or conditions incorporated on this website apply exclusively for the business relationship between Wiwa Artisan and its customers who are purchasing products from the online shop Wiwa Artisan on the URL www.wiwaartisan.com (hereinafter “Webiste”).   By purchasing from us, you engage in our “Service” and agree to be bound by the following TOS. Please read them carefully before using the Website and placing an order. We recommend that you keep a printed copy of these TOS for future reference. We only sell our products to customers who are 18 years of age or older. For customer under 18 years of age, the agreement of their legal representative is required. Persons under guardianship or curatorship must require the consent of their guardian, curator or tutelary authority. We reserve the right, in our discretion, to update, modify or replace any part of these TOS at any time. Such changes shall be effective immediately upon posting with the date of the most recent revisions appearing at the bottom of this page. The conditions at the time of placing the order prevail. If you do not agree to all the TOS or any change to the TOS, then you may not access the Site or use any Service. A breach or violation of any of the TOS will result in an immediate termination of your Services. Our store is hosted on Smoolis GmbH, a Swiss ecommerce company. They provide us with the online e-commerce platform that allows us to sell our products to you.</p>
                    </div>
          
                    <div class="a">
                        <h2>ELIGIBILITY TO PURCHASE</h2>
                        <p>We reserve the right to refuse service to anyone for any reason at any time. To purchase from the Website, you will be requested to provide your personal details. In particular, you must provide your real name and surname, phone number, e-mail address and other requested information as indicated. Furthermore, when ordering products, you will be required to provide payment details and you represent and warrant that the payment details you provide on ordering are both valid and correct and you confirm that you are the person referred to in the Billing information provided. The Website is available only to customers who meet the requirements of Wiwa Artisan, who have been issued a valid credit/debit card by a bank acceptable to Wiwa Artisan and who have authorised Wiwa Artisan to process a charge or charges on their credit/debit card in the amount of the total purchase price for the products which they purchase. By making an offer to purchase products, you expressly authorise us to perform credit checks and, where Wiwa Artisan feels necessary, to transmit or to obtain your credit card information or credit report information (including any updated information) to or from third parties solely to authenticate your identity, to validate your credit/debit card, to obtain an initial credit/debit card authorization and/or to authorise individual purchase transactions. Furthermore, you agree that we may use Personal Information provided by you to conduct appropriate anti-fraud checks. Personal Information that you provide may be disclosed to a credit reference or fraud prevention agency, which may keep a record of that information.</p>
                        </div>
          
                        <div class="a">
                            <h2>AVAILABILITY OF PRODUCTS</h2>
                            <p>All products displayed on www.wiwaartisan.com are sold subject to our acceptance of the orders placed and availability at time of ordering. Although we make every effort to feature in stock products in our Website, occasionally we may sell out of featured items. In case of a product(s) not being available, Wiwa Artisan is committed to notify you via email within maximum 4 business days. We reserve the right to cancel orders at any time due to insufficient stock of a product. If the purchase has already been charged to your credit card, Wiwa Artisan will issue a refund in the original form of payment for same amount as the purchase price(s) of the product(s), including any value-added tax (hereinafter “VAT”). Wiwa Artisan reserves the right to modify the selection of products available via the Website as well as their description and specifications at any time without notice.</p>
                            </div>
          
                            <div class="a">
                                <h2>PRODUCT INFORMATION</h2>
                                <p>We have made every effort to display the colours, specifications, dimensions and descriptions (please note all images are for illustration purposes only.) of our products on the Website as accurately as possible. However, we cannot guarantee that your computer monitor’s display of any color will be accurate. Please be aware that the majority of our products are artisanal and crafted by hand so slight differences can occur in colour and pattern, making each of them one-of-a-kind. Please refer to our return policy for what to do if you receive an item you are not satisfied with. We will happily communicate with you to resolve the issue.</p>
                                </div>
          
                                <div class="a">
                                    <h2>PRICES</h2>
                                    <p>The prices of the products ordered by the customer are the ones displayed on the Website and in the order confirmation. Prices are quoted in Pound Sterling. Wiwa Artisan reserves the right to update the prices at any time due to special offers, promotions, marketing action, VAT increase or currency rate changes. The indicated prices exclude delivery costs. These are displayed and invoiced at order confirmation. Wiwa Artisan strives to maintain the accuracy of the prices listed on the Website. If a price discrepancy is found, due to typing, printing, or arithmetic errors, we will give you the possibility of either confirming the purchase of the product(s) at the correct price or cancelling the order. If Wiwa Artisan is not able to contact you, we will treat your order in respect of the incorrectly priced item(s) as cancelled. Payment must be made when placing an order, no order will be accepted and sent to the client until we receive confirmation of payment of the full amount of the order.</p>
                                    </div>
          
                                    <div class="a">
                                        <h2>ORDERS</h2>
                                        <p>You make your choice on the Website and add the products to the Shopping Cart by clicking on the “Add to Cart” button. When you add an item to your cart, you may either continue shopping or proceed to the checkout. Checkout involves 4 simple steps: filling in Billing information, filling in Shipping information, choosing Payment Method and making Order Confirmation. By confirming the order, you submit your order to us and make a binding offer to conclude a sales contract with us. Once we have received your order you will receive an email acknowledging the details of your order. This email is NOT a confirmation but rather a recognition that we have received your requested order. All orders are subject to availability of the products and acceptance of payment. We will send you a second e-mail when we dispatch your products which shall constitute our acceptance of your order, at which point a binding contract of sale will be concluded between you and us. The sale contract is deemed to be concluded in United Kingdom. Once an order has been confirmed by you and accepted by us we are not able to modify or cancel your order. We reserve the right to decline or accept your order. We shall not be liable to you or a third party by reason of non-acceptance of your order. We will accept orders in the following events: (1) we are unable to obtain authorisation for payment; (2) the product ordered is out of stock or does not satisfy our quality control standards and is withdrawn; (3) you are not compliant with the TOS or (4) there are delivery restrictions for any particular item(s). Remember that products in your shopping cart are not reserved and may be purchased by other clients.</p>
                                        </div>
          
                                        <div class="a">
                                            <h2>PAYMENT</h2>
                                            <p>Credit/debit card We accept payments by major credit or debit cards (Visa, MasterCard, American Express), PayPal and advanced payment by bank transfer online or at the counter at your local post office. If paying by credit card, the full payment price will be debited from your card upon dispatch of your order. You confirm that the credit card that is being used is yours or that you have been specifically authorised by the owner of the credit card to use it. All credit card holders are subject to validation checks and authorisation by the card issuer. If the issuer of your card refuses to authorise the payment we will not accept your order and we will not be responsible for any delay or non-delivery. - Bank Transfers & Postal Payments For payments via bank transfer or cash at your local post office, please use the following account numbers: MOKTAANI Martinez Ortega * Postfinance account no. 69-749760-2 * Bic/Swift: POFICHBEXXX  * IBAN: CH57 0900 0000 6974 9760 2 Please indicate your Wiwa Artisan order number (found on your order confirmation e-mail). Payment by bank transfer must be made within the 2 next working days following the order. After this period, if full payment has not been registered, the availability of the ordered items cannot be guaranteed. Your order will be dispatched as soon as we have received your payment. If your order is urgent, please send us a copy of your payment confirmation via e-mail.</p>
                                            </div>
          
                                            <div class="a">
                                                <h2>FAULTY ORDERS AND ERROS</h2>
                                                <p>After receipt of your order, please check your parcel and products immediately for any faults. In the event of damage during transport, a complaint must be sent to the Post Service within three days of the delivery.
          
                                                    - Missing product in order at delivery: despite the attention taken, Wiwa Artisan in preparing the order for delivery it is possible that one article may be missing. We must be informed within five (5) working days of receipt of the package by sending a mail to wiwaartisan@gmail.com stating that one product is missing or if there was an error product allocation. After checking this we will ship the missing item subject to availability of stock or process a refund or a store credit; this is subject to the legitimacy of the customer’s request. In the case of a re-shipment the costs are at Wiwa Artisan expense.
                                                    
                                                    -Damaged order at delivery: damaged or defective items should be reported to us within five (5) working days of receipt of the package. Do not ship damaged products back to us unless requested to do so. To process a return or exchange due to damaged products, please email us first to info@wiwaartisan.com for a Return Authorisation Number (RA umber). You may me issued a refund or store credit, you will be shipped a replacement item (subject to the availability of stock) as soon as possible. The latter is subject to the legitimacy of the customer’s request. Please refer to the section “Returns and Refund”.  In the case of a re-shipment the costs are at Wiwa Artisan expense.  </p>
                                                </div>
          
                                                <div class="a">
                                                    <h2>PRODUCTS DISCLAIMER</h2>
                                                    <p>Please note that most of our products  are handmade by master artisans one piece at a time. The charm of this is that no two items are ever exactly the same. However the very nature of being individually crafted by hand means there will be slight variations between products and between the image on our website and items received. So you may expect minor distinctions that will make your purchase special and truly one of a kind. </p>
                                                    </div>
          
                                                    <div class="a">
                                                        <h2>DATA PROTECTION</h2>
                                                        <p>The personal information that you provide to us whilst using the website will only be collected and used it in accordance with our Privacy and Data Security Policy.</p>
                                                        </div>
          
                                                        <div class="a">
                                                            <h2>SECURITY FOR TRANSMISSION OF DATA</h2>
                                                            <h3>We take all reasonable care to make our website secure. </h3>
                                                            <p>Your shopping is safe in our Smoolis webshop. Smoolis GmbH is certified with a Wildcard SSL Certificate through DigiCert®. The 256-bit encryption is one of the best ways to protect your data. This hybrid cryptosystem benefits from the best features of both symmetric and asymmetric encryption. DigiCert® certificates use the most secure encryption available for both SHA-1 and SHA-2 algorithms.  To protect your credit/debit card information, all online financial transactions are conducted via secure online processing service by Stripe and PayPal respectively. They are secure online payment gateways that encrypt all your card details in a secure host environment with SSL (Secure Socket Layer) protocol. For more information about Paypal or Stripe, log on</p>
                                                          <h3>www.paypal.comand www.stripe.comrespectively.</h3>  
                                                          </div>
          
                                                            <div class="a">
                                                                <h2>COPYRIGHT AND INTELLECTUAL PROPERTY</h2>
                                                                <p>All of the contents of the website, including text, photos, sounds, illustrations and software are and remain the intellectual and exclusive property of Wiwa Artisan or, in some cases, the property of affiliated companies, licensees and/or content providers. Your use of our website grants no rights to you in relation to copyright, design rights, trade marks or other of our intellectual property rights (or the intellectual property rights of third parties).</p>
                                                                </div>
          
                                                                <div class="a">
                                                                    <h2>LIABILITY</h2>
                                                                    <p>To the extent permitted by law, nor Wiwa Artisan, nor any of its distribution network, and nor any other party involved in the creation or operation of this Website, may be held responsible, with respect to you or any third party, for any indirect damage or losses, whatever the cause (for example, access to or use of this Website or linked sites, or inability to access or use this Website or linked sites - for example due to a power failure or technical problems causing a suspension or interruption of Service - modification, or unauthorised access to personal information, or accidental transmission of this information due to a virus).</p>
                                                                    </div>
          
                                                                    <div class="a">
                                                                        <h2>COMMUNICATION</h2>
                                                                        <p>The legislation requires that certain information or communications we address to you be made in writing. By using this Website, you agree expressly and unreservedly that the communication performed with Wiwa Artisan be mainly electronic. We will contact you by email or provide information by posting notices on the Website or social media channels. In making an order on our URL
          
                                                                            www.wiwaartisan.com, you agree expressly and unreservedly to communicate electronically with Wiwa Artisan.</p>
                                                                        </div>
          
                                                                        <div class="a">
                                                                            <h2>LAW AND JURISDICTION</h2>
                                                                            <p>These terms and conditions will be governed by and construed in accordance with English law, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
                                                                            </div>
          
                                                                            <div class="a">
                                                                                <h2>FINAL PROVISION</h2>
                                                                                <p>We provide the Online Shop to you solely for your personal, non-commercial use. Contact. For any questions relating to Wiwa Artisan’s Website or products, you can contact us by sending an email to info@wiwaartisan.com or a written letter to: Via Sotto Carà 1, 6935 Bosco Luganese, Switzerland. For customer enquiries please contact info@wiwaartisan.com
          
                                                                                    Last update 01.05.2020</p>
                                                                                </div>
          

        </div>
    </main>
    <%- include('../includes/end.ejs') %>           
           